<div class="panel">
  <div class="form-inline">
    <div class="form-group">
      <div class="col-md-8">
        <mat-form-field >
          <input  matInput  [(ngModel)]="name" placeholder = "Task" >
        </mat-form-field >
        <mat-form-field color="primary">
          <mat-label>Final date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button mat-raised-button color="primary" (click)="addTask()">Добавить</button>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Задача</th>
    </tr>
    </thead>
    <tbody>
    <tr appColorState *ngFor="let task of tasks;trackBy: trackByFn">
      <td>
        <mat-checkbox color="primary" (change)="changeState(task.id)"></mat-checkbox>
      </td>
      <td>{{task.name}}</td>
      <td>{{task.status | taskState}}</td>
      <td>{{task.date | date:'fullDate'}}</td>
      <td>
        <button mat-fab color="primary" (click)="removeTask(task.id)">
          <mat-icon><i class="material-icons">
            delete
          </i></mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
